### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zaloguj-sie-do-tomee index.php
RewriteRule o-projekcie-tomee projekt_tomee.html
RewriteRule polityka-prywatnosci prywatnosc.html
RewriteRule regulamin-serwisu regulamin.html
RewriteRule rodo rodo.html
RewriteRule pomoc pomoc.html
RewriteRule support support.php
RewriteRule witam-na-tomee welcome.php
RewriteRule zarejestruj-nowe-konto reg.php
RewriteRule szukaj-znajomych szukaj_znajo.php
RewriteRule twoje-konto userpage.php
RewriteRule profil-uzytkownika alienpage.php
RewriteRule strona-glowna homepage.php
RewriteRule dodaj-nowy-post new_post.php
RewriteRule ustawienie change_settings.php
RewriteRule twoje-bio change_settings_optional_info.php
RewriteRule tlo-profilowe change_settings_pb.php
RewriteRule zdjecie-profilowe change_settings_pp.php
RewriteRule konwersacje dialogi.php
RewriteRule obserwujacy followers.php
RewriteRule konwersacja konwersacja.php
RewriteRule wyloguj-sie log_out.php
RewriteRule zmien-ustawienia settings.php
RewriteRule obserwowani watching.php
RewriteRule bootstrap-learn bootstrap-learn.html
